.cases-link{
    width: 100%;
    color: #fff;
    background-color: #428bca;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.cases-link span{
    margin-left: 5px;
}

.casesInfo-link{
    width: 100%;
    color: #fff;
    background-color: #428bca;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;

}

.casesInfo-li{

    margin-left: 30px;
}

.dashboard-link{
    width: 100%;
    color: #337ab7;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.dashboard-link span{
    margin-left: 5px;
}

.input-forms{
    margin-top:20px;
    margin-bottom: 20px;
}

.casesPosition{
    text-align: left
}

.marginElements{
    margin-top:10px;
    margin-bottom:10px;
}

.newCaseButton{
    position: absolute;
    right: 40;
}

.newCaseButton button{
    border-radius: 50%;
    height: 70;
    width: 70;
}

.newCaseButton button span{
    font-size: 35px;
    right: -2px;
}

.caseInfo{
    background-color: #337ab7;


}

.caseInfoTitle{
    font-size: 25px;
    color: #FFFFFF;

}

.infoDiv1{

    margin-bottom: 20px;
    width:50%;
}
.infoDiv2{

    margin-bottom: 20px;
    margin-top: -4.9em;
    margin-left: 43%;
    width:50%;
}

.divTextArea{

    white-space: normal;
    word-wrap: break-word;

}