.contract-link{
    width: 100%;
    color: #fff;
    background-color: #428bca;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.contract-link span{
    margin-left: 5px;
}

.dashboard-link{
    width: 100%;
    color: #337ab7;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.dashboard-link span{
    margin-left: 5px;
}

.placeholders{
    text-align: left;
}

.list-group-item-text{
    padding: 3px 0;
}

.imagen{
    max-width:128px;
    max-height:128px;
    margin-top: -150px;
    float:right;
}