.dashBoard-link{
    width: 100%;
    color: #337ab7;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.users-link{
    width: 100%;
    color: #fff;
    background-color: #428bca;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.fotoUsuario{
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: #fff;
}

.fotoUsuario img{
    width: 200px;
    height: 200px;
}

.subirFoto{
    width: 25%;
}

.infoHeaderUsuario{
    float: right;
    width: 70%;
    margin-top: -35%;
}

.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.togglebutton {
    vertical-align: middle;
}

.togglebutton label {
    cursor: pointer;
}

.togglebutton label input[type=checkbox] {
    opacity: 0;
}

.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: rgba(0, 150, 136, 0.5);
}

.togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 15px;
    margin-right: 15px;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
}

.togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: #009688;
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    left: 15px;
}
.togglebutton label .toggle:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -2px;
    -webkit-transition: left 0.3s ease, background 0.3s ease, -webkit-box-shadow 0.1s ease;
    -o-transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}

.uploadFoto{
    margin-left: 25%;
    margin-top: 5%;
}

.idOcult{
    opacity: 0;
    cursor: default;
}
