.contract-link{
    width: 100%;
    color: #fff;
    background-color: #428bca;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.contract-link span{
    margin-left: 5px;
}

.dashboard-link{
    width: 100%;
    color: #337ab7;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.dashboard-link span{
    margin-left: 5px;
}

.placeholders{
    text-align: left;
}

.list-group-item-text{
    padding: 3px 0;
}

.imagen{
    max-width:128px;
    max-height:128px;
    margin-top: -150px;
    float:right;
}

.newContractButton{
    position: absolute;
    right: 40;
}

.newContractButton button{
    border-radius: 50%;
    height: 70;
    width: 70;
}

.newContractButton button span{
    font-size: 35px;
    right: -2px;
}


.newContractInfo{
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 20%;
    background-color: #fff;
    margin-left: 20%;
    border: 3px solid;
    border-radius: 5px;
    width: 50%;
}

.newContractInfo h2{
    background-color: #428bca;
    color: #fff;
    margin-top: 0px;
    padding: 1%;
}
.newContractInfo span{
    position: absolute;
    margin-left: -45%;
    color: #fff;
    font-size: 2.1em;
}

.newContractInfo form div .form-control{
    width: 40%;
}

.newContractInfo form div label{
    width: 35%;
    margin-left: 5%;
}


.btnCloseContractForm{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    position: absolute;
    margin-left: 41%;
    margin-top: -3.5em;
    height: 12%;
    width: 6%;
    padding: 3%;
}

.messageSuccess{
    top: 0;
    margin-top: 25%;
    border-color: #2e6da4;
    text-align: center;
    border: 3px solid;
    width: 50%;
    margin-left: 20%;
    position: absolute;
    background-color: #fff;
    font-family: helvetica;
}

.messageSuccess h2{
    margin-top: 0;
    background-color: #428bca;
    padding: 1%;
}

.btnCloseSuccessMessage{
    position: absolute;
    margin-left: 40%;
    margin-top: -3.6em;
    padding: 0.3em;
    background-color: #428bca;
    border-color: #428bca;
}

.btnCloseSuccessMessage span{
    font-size: 1.9em;
}