.fotoUsuario{
    height: 50%;
    background-color: #fff;
}

.fotoUsuario img{
    margin-top: -4%;
    width: 200px;
    height: 200px;
}

.form-group button{
    margin-top: 1%;
    margin-left: 6%;
}

.contract-link {
    width: 100%;
    color: #fff;
    background-color: #428bca;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.dashboard-link {
    width: 100%;
    color: #337ab7;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.cityInput, .countryInput{
    margin-bottom: 0%;
}

.postalCodeInput{
    margin-top: -11%;
    margin-left: 29%;
}

.divEditPostal{
    padding-left: 0px;
}

.passwordInput{
    margin-top: -1%;
}

.passwordInput button{
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

.viewPassword{
    padding: 9px 12px;
    margin-top: -5%;
    margin-left: -70%;
}

.divChangePassword{
    padding: 0;
}

.idiomInput {
    margin-top: -5%;
    margin-left: 7%;
}

.bussinessInput{
    margin-top: -9%;
    margin-left: 37%;
}

.businessInput2{
    margin-bottom: 0%;
}

.divSubmitBusinessSector{
    padding-left: 0;
}

.editBusinessSector{
    padding: 5px;
}

.editBusinessSector span{
    font-size: 14px;
}

.showLessForm{
    margin-left:25%;
}

.editEmail{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.editEmail span{
    font-size: 15px;
}

.divInputEmail{
    padding-right: 0px;
}

.emailInput{
    margin-top: -11%;
    margin-left: 11%;
}

.showLessEmail{
    padding: 9px 12px;
    margin-top: -14.5%;
    margin-left: 85%;
}

.showFormPostal{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.showFormPostal span{
    font-size: 16px;
}

.showLessPostalForm{
    margin-top: -14.5%;
    margin-left: 70%;
}

.showLessPostalForm span{
    padding-top: 0.1em;
    padding-bottom: 0.4em;
}

.pIdiom{
    margin-top: -1%;
}

.showFormIdiom{
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    margin-top: -4.4%;
}

.idiomForm{
    margin-top: -5%;
    margin-left: 7%;
}

.divSubmitIdiom{
    padding-left: 0;
}

.showLessIdiom{
    margin-top: -7%;
    padding: 9px 12px;
    margin-left: 38%;
}

.phoneForm{
    margin-top: -11%;
    margin-left: 16%;
}

.divSubmitPhone{
    padding-left: 0;
}

.showLessPhone{
    margin-top: -14.5%;
    margin-left: 63%;
    padding: 9px 12px;
}

.showPhoneForm{
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.showPhoneForm span{
    font-size: 16px;
}

.showDirectionForm span{
    font-size: 16px;
}

.directionForm{
    margin-top: -11%;
    margin-left: 21%;
}

.divSubmitDirection{
    padding-left: 0;
}

.showLessDirection{
    margin-top: -14.5%;
    margin-left: 72%;
    padding: 9px 12px;
}


.showFormIdiom span{
    font-size: 16px;
}