.boton-link{
    color: #337ab7;
    padding: 10px;
    border:none;
}

.contracts-link{
    width: 100%;
    color: #337ab7;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.contracts-link span{
    margin-left: 5px;
}

.cortar{
  width:200px;
  height:200px;
  padding:20px;
  text-overflow:ellipsis;
  overflow:hidden; 
  margin-left: 20px;
  margin-top:20px;
  text-align: justify;
}

.dashBoard-link{
    width: 100%;
    color: #fff;
    background-color: #428bca;
    border: none;
    border-radius: 0;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -13px;
}

.dashBoard-link span{
    margin-left: 5px;
}