
* { margin: 0; padding: 0; z-index: 1; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: 0; }
a acronym { cursor: inherit; }

acronym, abbr {
  border-bottom: 1px #999 dotted;
}
acronym, dfn, abbr { cursor: help; }

button {
	cursor: pointer;
}

input, textarea, #page {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.0em;
}

html { overflow-y: scroll; }

#head  {
	background: #2a4d6a url('../images/principal/head_bg.gif') repeat-x;
	color: #FFF;
	padding: 20px 0 2em;
	text-align: center; 

	min-height: 0; /* IE7 Clearing */
	height: auto !important; /* IE5+6 Clearing */
	height: 1%;
}

#head:after { /* CSS2 Clearing */
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

#head .content, #body .content, #foot .content  {
	width: 950px;
	margin: auto;
	text-align: left;
}

#logo {
	margin-left: -20%;
	margin-top: 5%;
	float: left;
}

#logo a {
	color: #FFF;
}

#subheader {
	float: right;
	width: 45%;
	color: #dbe6f0;
	line-height: 1.2em;
	margin-top: 3em;
}

#subheader  h2 {
	color: #4ec1ec;
	font-size: 1em;
	text-transform: uppercase;
}

#subheader p {
	margin-top: .6em;
}

#menu {
	background: #2a4d6a url('../images/principal/menu_bg.gif') repeat-x bottom;
	text-align: center;
	color: #FFF;
	overflow: hidden;
	float: left;
	width: 100%;
}

#menu ul {
   float: left;
   list-style: none;
   position: relative;
   left: 50%;
}

#menu li {
   display: block;
   float: left;
   position: relative;
   right: 50%;
}

#menu li.active {
	background: #FFF url('../images/principal/menuitem_top_left.gif') no-repeat top left;
}

#menu li.active span {
	font-weight: bold;
	display: block;
	padding: .6em 1em;
	color: #152530;
	background: url('../images/principal/menuitem_top_right.gif') no-repeat top right;
}

#menu li a {
	display: block;
	padding: .6em 1em;
	color: #FFF;
}

#body {
	clear: both;
	min-height: 20em;
	color: #002E57;
	font-size: .9em;
	padding-bottom: 3em;
	min-height: 0; /* IE7 Clearing */
	height: auto !important; /* IE5+6 Clearing */
	height: 1%;
}

#body:after { /* CSS2 Clearing */
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

#content {
	width: 50%;
	margin-right: 2%;
	float: left;
}

#content h2 {
	text-transform: uppercase;
}

#foot {
	color: #FFF;
	font-size: .85em;
	background: #2f5777 url(../images/principal/foot_bg.gif) repeat-x top;
	overflow: hidden;
	min-height: 0; /* IE7 Clearing */
	height: auto !important; /* IE5+6 Clearing */
	height: 1%;
}

#foot:after { /* CSS2 Clearing */
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

#foot a {
	color: #FFF;
}

#foot .box {
	margin: 1.5em 0;
	padding: 0 1em;
	padding-bottom: 10em;
	margin-bottom: -8.5em;
}

#foot .os {
	width: 20%;
	float: right;
	border-right: 1px #2e5574 solid;
	border-left: 1px #2e5574 solid;
	line-height: 5em;
	text-align: center;
}

#foot .os img {
	vertical-align: middle;
	margin-right: .5em;
}

#foot .navigators {
	width: 20%;
	float: right;
	border-left: 1px #2e5574 solid;
	line-height: 6em;
	text-align: center;
}

#foot .navigators a, #foot .os a {
	opacity: .6;
}

#foot .navigators a:hover, #foot .os a:hover {
	opacity: 1;
}

#foot .navigators img {
	vertical-align: middle;
	margin-right: .5em;
}

#body  h2 {
	color: #205380;
	font-weight: bold;
	font-size: 1.2em;
}

#body a {
	color: #002E57;
}

#body .info {
	padding: 2em 0 0;
}

#body .info a {
	background: #c6e0f9;
}


#body .info p {
	margin-top: 1em;
	line-height: 1.2em;
}

#body .infobox {
	width: 182px;
	padding: 10px;
	float: left;
}

#body .infobox h2 {
	margin: .5em 0;
}

#body .imagebox {
	margin-top: 10px;
	width: 180px;
	padding: 20px;
	float: right;
}

#login {
	width: 182px;
	height: 229px;
	padding: 10px;
}

.fsForm .fsCell{
	padding: 10px 15px;
}

.fsLabelVertical{
	padding-bottom: 0;
}

.fsFirst.fsLast.fsFieldCell{
	width: auto;
	float: none;
}

.fsFieldCell.fsSpan100{
	width: 100%;
}

.fsRowBody{
	padding: 10px 15px;
}

.fsForm .fsLabel{
	margin-bottom: 5px;
	text-shadow: none;
	text-transform: uppercase;
	width: 100%;
	font-size: 13px;
}

.fsLabel {
	display: block;
	font-weight: 700;
	line-height: 19px;
}

label{
	display: block;
	margin: 0;
	font-size: 0.875rem;
	font-weight: normal;
	line-height: 1.8;
	color: #0a0a0a;
	cursor: default;
	text-transform: uppercase;
}

.fsRequiredMarker{
	padding-left: 2px;
	color: #ba0000;
	font-size: 16px;
	font-weight: 700;
	font-family: Verdana;
	float: none;
}

.fsForm input{
	margin-bottom: 0px;
}

.fsFieldRow input[type="password"], .fsFieldRow input[type="text"] {
	max-width: 100%;
	margin-bottom: 0;
	height: 16px;
}

.fsRowBody input[type=password], .fsRowBody input[type=text]{
	border: 1px solid #999;
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: top left;
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #ddd;
	color: #333;
	padding: 4px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	max-width: 95%;
}

input {
	white-space: normal;
	line-height: normal;
	color: inherit;
	font: inherit;
	margin: 0;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}

.fsForm .fsSubmit{
	padding: 15px;
	margin: 0;
	text-align: left;
	background: transparent;
	background-color: transparent;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	clear: left;
}

.fsPagination{
	margin-bottom: 0;
	text-align: center;
	margin: 25px 0;
}


.fsForm .fsSubmit input.fsSubmitButton{
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	background-repeat: repeat;
	font-weight: 600;
	color: white;
	border: 1px solid #ed9d21;
	color: white;
	text-shadow: 1px 1px #da8605;
	background-color: #ed9d21;
	padding: 8px 40px 7px !important;
	font-size: 18px;
	cursor: pointer;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.15s;
	-o-transition-duration: 0.15s;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	position: relative;
	width: 100%;
}

.fsSubmit input.fsSubmitButton{
	padding: 3px;
	margin: 0 auto;
	clear: both;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.fsPagination button, .fsPagination input{
	font-size: 16px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
	-webkit-appearance: button;
	cursor: pointer;
}

.fsSubmitButton, .fsNextButton, .fsPreviousButton{
	font-size: 16px !important;
	font-weight: 700;
	padding: 20px 50px !important;
	border: none;
	border-radius: 0px;
	color: #fff !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	box-shadow: 0px 4px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.15);
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	background: #EA9E0A !important;
}

[type='submit'], [type='button'] {
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.linkRegistro{
	font-family: "Source Sans Pro", sans-serif;
	width: 100%;
	font-size: 16px;
	color: #0a0a0a;
	text-align: center;
}

.linkRegistroStForm{
	text-align: center;
}

.linkRegistroSt{
	color: #205380;
	background-color: #fff;
	border-color: #ccc;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.box a .providers{
	width: 30px;
	height: 30px;
}