body{
    font-family: "Source Sans Pro", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    display: block;
    
}

html, body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 100%;
}

div{
    display: block;
}

@media (max-width: 1000px){
    .new-webinar .page-content{
        width: auto;
    }
}


@media (max-width: 1300px){
    .new-webinar .page-content{
        width: auto;
    }  
}

.new-webinar .page-content{
    text-align: center;
    width: 70%;
}

section{
    display: block;
}

.new-webinar .page-content .page-content--title{
    padding-top: 35px;
}

.new-webinar .page-content .page-content--title .headline{
    color: #455560;
}

.new-webinar .headline{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1,25px;
    line-height: 48px;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1{
    font-size: 1.5rem;
}

div, h1, p, form{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 39.9375em){
    .break {
        display: inline;
    }
}

.break{
    display: block;
}

.new-webinar .page-content .page-content--blocks{
    padding: 0 60px;
}

.text-left{
    text-align: left;
}

p{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
    font-size: inherit;
    text-rendering: optimizeLegibility;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.new-webinar .page-content .title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.new-webinar .page-content .page-content--blocks hr{
    margin: 32px 5px 31px 5px;
}

hr{
    max-width: 75rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    clear: both;
    box-sizing: content-box;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

@media (max-width: 670px){
    .new-webinar .sidebar-form{
        position: static;
        width: auto;
    }
}

@media (max-width: 1000px){
    .new-webinar .sidebar-form{
        position: static;
        width: auto;
    }
}

@media (max-width: 1300px){
    .new-webinar .sidebar-form{
        width: 35%;
    }
}

.new-webinar .sidebar-form{
    background-color: #455560;
    bottom: 0;
    right: 0;
    position: fixed;
    top: 0;
    width: 30%;
}

.new-webinar .sidebar-form .webinar-form{
    font-family: "Source Sans Pro", sans-serif;
}

.new-webinar .sidebar-form .webinar-form .fsBody{
    margin-bottom: 0;
}

@media (max-width: 40em){
    .fsBody, body{
        background-color: none!important;
    }
}

@media (max-width: 699px), (device-height:1024px) and (device-width: 768px) amd (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
    .fsBody{
        margin-bottom: 80px;
    }
}

.fsBody{
    color: #000;
    font: 13px/1.4 "Helvetica Neue",Arial,"Lucida Grande",Tahoma,Verdana,sans-serif;

}

.new-webinar .sidebar-form .webinar-form .fsBody .fsForm{
    margin: 0 auto;
    padding: 15px;
    background: transparent;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 40em){
    .fsboxshadow .fsBody .fsForm{
        box-shadow: none;
    }
}

.fsboxshadow .fsBody .fsForm{
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset,0 -2px 0 rgba(0,0,0,.1) inset,0 0 10px rgba(255,255,255,.5) inset,0 0 0 1px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.2);
}

.fsborderradius .fsBody .fsForm, .fsborderradius .fsBody .fsSectionHeader{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.fsBody .fsForm{
    border-radius: 6px;
    padding: 25px;
    margin-top: 0 !important;
    background-color: #fff;
    margin: 18px auto;
    border: 1px solid #ccc;
    display: table;
}

@media (max-width: 699px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
    .fsBody .fsForm{
        margin: 0;
        width: 100%;
        display: block;
        padding: 1px 0 10px;
    }
}

@media (max-width: 699px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
    .fsBody .fsForm, .fsBody .fsPage{
        min-width: inherit;
        width: 100%;
    }
}

.fsEmbed .fsForm{
    display: inherit;
}

.fsBody form, .fsBody label, .fsBody span{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

form{
    display: block;
    margin-top: 0em;
}

@media (max-width: 699px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
    .fsBody .fsForm, .fsBody .fsPage{
        min-width: inherit;
        width: 100%;
    }
}

.fsEmbed .fsPage{
    min-width: inherit!important;
}

@media (max-width: 40em){
    .fsRow.fsFieldRow.fsLastRow{
        margin-bottom: 1em;
    }
}

.fsBody .fsFieldRow{
    clear: left;
}

.new-webinar .sidebar-form .webinar-form .fsBody .fsForm .fsCell{
    padding: 10px 15px;
}

.new-webinar .sidebar-form .webinar-form .fsLabelVertical{
    padding-bottom: 0;
}

@media (max-width: 699px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
    .fsBody .fs1Col .fsFieldCell, .fsBody .fs2Col .fsFieldCell, .fsBody .fs3Col .fsFieldCell, .fsBody .fs4Col .fsFieldCell{
        width: auto;
    }
}

.fsFirst.fsLast.fsFieldCell{
    width: auto;
    float: none;
}

.fsFieldCell.fsSpan100{
    width: 100%;
}

.fsBody .fsRowBody{
    padding: 10px 15px;
}

.new-webinar .sidebar-form .webinar-form .fsBody .fsForm .fsLabel{
    color: #fff;
    margin-bottom: 5px;
    text-shadow: none;
}

.fsBody .fsForm .fsLabel{
    color: #fff;
    text-transform: uppercase;
}

@media (max-width: 40em){
    .fsForm .fsLabel{
        margin-bottom: .75em;
    }
}

.fsForm .fsLabel{
    width: 100%;
    font-size: 13px;
}

.fsBody .fsLabel, .fsBody label{
    display: block;
    font-weight: 700;
    line-height: 19px;
}

label{
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;
    cursor: default;
}

.fsRequiredMarker{
    padding-left: 2px;
    color: #ba0000;
    font-size: 16px;
    font-weight: 700;
    font-family: Verdana;
    float: none;
}

.new-webinar .sidebar-form .webinar-form .fsFieldRow input[type="password"] .new-webinar .sidebar-form .webinar-form .fsFieldRow input[type="text"] {
    max-width: 100%;
    margin-bottom: 0;
    height: 16px;
}

.new-webinar .sidebar-form .webinar-form .fsFieldRow input[type="email"]{
    margin-bottom: 0;
    height: 16px;
}

@media (max-width: 699px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
    .fsBody .fsRowBody input[type=email], .fsRowBody input[type=password], .fsBody .fsRowBody input[type=text]{
        width: 85%;
    }
}

.fsBody .fsForm input{
    margin-bottom: 0px;
}

@media (max-width: 40em){
    .fsRowBody input[type=email], .fsRowBody input[type=password], .fsRowBody input[type=text]{
        display: block;
        width: 100%!important;
        font-size: 1.5em;
    }
}

.fsRowBody input[type=email], .fsRowBody input[type=password], .fsRowBody input[type=text]{
    border: 1px solid #999;
    background-color: #fff;
    background-repeat: repeat-x;
    background-position: top left;
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    color: #333;
    padding: 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    max-width: 95%;
}

input {
    white-space: normal;
    line-height: normal;
    color: inherit;
    font: inherit;
    margin: 0;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.new-webinar .sidebar-form .webinar-form .fsForm .fsSubmit{
    padding: 15px;
    margin: 0;
    text-align: left;
    background-color: transparent;
}

@media (max-width: 699px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
    .fsborderradius .fsForm .fsSubmit{
            border-radius: 0;
    }
}

.fsborderradius .fsForm .fsSubmit{
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.fsForm .fsSubmit{
    background: transparent;
    padding: 20px;
    margin-top: 10px;
    background-color: #EFEFEF;
    clear: left;
}

.fsPagination{
    margin-bottom: 0;
    text-align: center;
    margin: 25px 0;
}

.new-webinar .sidebar-form .webinar-form .fsForm .fsSubmit input.fsSubmitButton{
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    background-repeat: repeat;
    font-weight: 600;
    color: white;
    border: 1px solid #ed9d21;
    color: white;
    text-shadow: 1px 1px #da8605;
    background-color: #ed9d21;
    padding: 18px 40px 16px !important;
    font-size: 18px;
    cursor: pointer;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    position: relative;
    width: 100%;
}

.fsSubmit input.fsSubmitButton{
    padding: 3px;
    margin: 0 auto;
    clear: both;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.fsPagination button, .fsPagination input{
    font-size: 16px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
    -webkit-appearance: button;
    cursor: pointer;
}

@media only screen and (max-width: 699px){
    .fsPagination .fsNextButton, .fsPagination .fsPreviousButton, .fsSubmitButton{
        background: #EA9E0A !important;
        text-indent: 0;
        width: auto;
        height: auto;
        font-size: 12px !important;
        padding: 15px 35px !important;
    }
}

.fsSubmitButton, .fsNextButton, .fsPreviousButton{
    font-size: 16px !important;
    font-weight: 700;
    padding: 20px 50px !important;
    border: none;
    border-radius: 0px;
    color: #fff !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 0px rgba(0,0,0,0.15);
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    background: #EA9E0A !important;
}

[type='submit'], [type='button'] {
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

ul.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.menu li {
    float: left;
    width: 40%;
    padding-right: 10%;
}

.beta{

    width:800px;
    height:400px;

}

.alreadyExists{
    color: red;
    font-size: 12px;
}